@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

html {
    height: 100%;
    width: 100%;
    overflow: hidden !important;
    margin: 0;
    padding: 0;
}

.container-fluid {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    flex-grow: 1 !important;
}


body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:'Century Gothic','Futura','Didact Gothic',san-serif;
    font-size: 2rem;
    box-sizing: border-box;
    flex-direction: column;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}



header {
    border-bottom: 1px solid #000 !important;
    height: fit-content;
    position: relative;
    padding: 1rem;
    padding-bottom: 0;
    display: flex !important;
    justify-content: space-between;
    text-transform: uppercase;
    box-sizing: border-box;

}


.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1 !important;

}


.logo {
    height: 6rem;
    align-self: center; 
    display: flex;
    max-width: 30%;
}

.logo p {
    font-size: 1rem;
    margin: 0;
    white-space: nowrap;
    align-self: flex-end;
    max-width: fit-content;
}

.logo img {
    height: 100%
}




.hamburger-container {
    text-align: right;

}


.hamburger-container .menu {
    height: 100%;
    display: flex;
}



.hamburger-container .menu a {
    padding-top: 3rem !important;
    align-self: flex-end;
    color: #000;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5rem !important;
}




.hamburger-container #toggle-button {
    margin: 20px 0px 0 0 ;
    display: none;
}



#toggle-button {
    cursor: pointer;
    padding: 15px;
    width: 40px;
}

#toggle-button:hover span {
	cursor: pointer;
}



.line-1, .line-2, .line-3 {

	cursor: pointer;
	border-radius: 4px;
	height: 3px;
	width: 40px;
	background: #000;
	position: relative;
	display: block;
    content: '';
    transition: all 300ms ease-in;

}

.line-1, .line-2 {
    margin-bottom :6px;
}



#toggle-button.active .line-2 {

    background-color: transparent;
}

#toggle-button.active .line-1 {

    top: 10px;
    position: absolute;
}

#toggle-button.active .line-3 {

    bottom: 10px;
    position: absolute;
}

#toggle-button.active .line-1 {
	transform: rotate(45deg);
    top: 26px;
}

#toggle-button.active .line-3 {
	transform: rotate(-45deg);
}



#toggle {
    display: none;
}


#sidebar-menu {
    position: fixed;
    z-index: 0;
    height: 100%;
    width: 0px;
    background: #fff;
    color: #000;
    right: 0px;
    transition: all 500ms linear;
    box-shadow: 0px 0px 30px 0px grey;
}

#sidebar-menu.active {
    width: 150px;
}

#sidebar-menu ul {
    display: block;
    width: fit-content;
    margin: 3rem auto;
    list-style: none;
    padding-left: 0px;
    height: 100%;
    padding-top: 10%;

}

#sidebar-menu ul li {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #000;
}

#content-wrapper {
    position: relative;
    left: 0;
    transition: all 500ms linear;
}

#content-wrapper.active {
    left: -150px;
}

#geometric {
    transition: all 500ms linear;
}

#geometric.active {
    visibility: hidden;
}



    @media only screen and (max-width: 992px) {


        .hamburger-container #toggle-button {
            display: block !important;
            cursor: pointer;
        }
    



    header {
        height: fit-content;
        border-bottom: none !important;
    }

    .logo {
        position: relative !important;
        align-self: flex-start;
        height: 6rem;
        
    }



    .hamburger-container {
        width: 100%;
    }

    
    .logo img {
       
        transform: scale(0.7);

    }


    .hamburger-container #toggle-button {
        float: right;
    }





    .hamburger-container .menu {
        clear: left !important;
        text-align: center;
        position: relative;
        display: none;
 
    }
 

    

    #toggle-button {
        position: relative;
        z-index: 1;
    }
}


@media only screen and (max-width: 450px) {
    .logo {
        transform: scale(0.8);
    }

}

@media only screen and (max-width: 350px) {

    .logo {
        transform: scale(0.7);
    }

    .logo p {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 320px) {
    .logo p {
        display: none;
    }
}




/*preview*/


.preview-container {
    height: 70%;
    box-sizing: border-box;
}


.row {
    width: 100% !important;
    margin: 0 !important;
}

.row-top {
    height: 30%;
}

.row-middle {
    height: 60%;
}

.row-bottom {
    height: 10%;
}




.year-container {
    height: 55%;
    width: 100%;
    align-self: center;
}


@media only screen and (min-width: 640px) {
    .year-container {
        height: 55%;
    }

}

.preview-2019 {
    width: 100%;
    height: 100%;
    display: block;
}



.preview-2018 {
    width: 100%;
    height: 100%;
    display: none;
}


.preview-2017 {
    width: 100%;
    height: 100%;
    display: none;
    
}


.p-2019 img, .p-2018 img, .p-2017 img {
    width: 100%;
    height: 100%;
}


.p-2019, .p-2018, .p-2017 {
    width: 100%;
    height: 100%;
    position: relative;
}




.caption {
    text-align: right;
    position: absolute;
    top: 10%;
    right: 0;
    color: #fff;
    background-color: rgb(0, 0,0, 0.7);
}




.slick-container {
    height: 30%;
    box-sizing: border-box;
    overflow: visible !important;
    position: relative;
    bottom: 0 !important;



}

.slick-prev {
    z-index: 1;
}


.slick-list {
    height: 100%;
    overflow: visible !important;

}

.slick-track {
    height: 100%;
    overflow: visible !important;
}


.slick {
    max-width: 95%;
    margin: 0 auto;
    height: 100%;
}



.slick-container .slick-item {
    height: 100% !important;
    transform: skew(-20deg);
    transition: transform .1s ease-in-out;
    outline: none;
}




.slick-container .slick-item:hover {
    transform: skew(-20deg) translateY(-15%);
}

.slick-container button {
    background: blue;
    opacity: 0;
    height: 100%;
    width: 100px;
}



.slick-dots {
    display: none !important;
}

.slick p {
    margin: 0;
}



.slick-item p {
    font-size: 4.5vh !important;
}


.slick-item-1 {
    background: #67CCE0;
    color: #fff;
    display: flex !important;
}

.slick-item-1 p {
    align-self: flex-end;
    margin: 0 auto;
    max-width: fit-content;
}


.slick-item-2 {
    background: url('images/main02.jpg');
    background-size: cover;
}

.slick-item-3 {
    background: url('images/main05.jpg');
    background-size: cover;
}

.slick-item-4 {
    background: url('images/main04.jpg');
    background-size: cover;
}

.slick-item-5 {
    background: #CF6EF3;
    color: #fff;
    display: flex !important;
}

.slick-item-5 p {
    align-self: flex-end;
    margin: 0 auto;
    max-width: fit-content;
}

.slick-item-6 {
    background: url('images/main12.jpg');
    background-size: cover;
}

.slick-item-7 {
    background: url('images/main13.jpg');
    background-size: cover;
}

.slick-item-8 {
    background: url('images/main14.jpg');
    background-size: cover;
}

.slick-item-9 {
    background: #67CCE0;
    color: #fff;
    display: flex !important;
}

.slick-item-9 p {
    align-self: flex-end;
    margin: 0 auto;
    max-width: fit-content;
}

.slick-item-10 {
    background: url('images/main01.jpg');
    background-size: cover;
}

.slick-item-11 {
    background: url('images/main06.jpg');
    background-size: cover;
}

.slick-item-12 {
    background: url('images/main07.jpg');
    background-size: cover;
}
